<center><h3><%= @closet.name %></h3>
<%= link_to "delete", {:controller => :closets, :action => 'destroy', :id => @closet.id }, :method => :delete %> | <%= link_to "add new item", new_search_path %></center>


<% @closet.items.in_groups_of(4) do |group| %>
  <div class="row">
    <% group.compact.each do |item| %>
    <div class="col-xs-6 col-sm-3">
      <div class="card">
        
        <%= image_tag item.image_url, :style => "height: 100%"%>
          <div class = 'card_content'>
            <strong>Price: </strong><%= item.prices.last.price %><br>
            <% closet_item = ClosetItem.where(closet_id: @closet.id, item_id: item.id) %>
            <%= link_to item.name, item_path(item) %><br>
            <%= link_to 'Delete', closet_item_path(closet_item[0].id), method: :delete %>
          </div>
      </div>
  </div>
  <% end %>
</div>
<% end %>
