

<h1><%= @closet.name %></h1>

<% binding.pry %>


<div class = "row">

  <div class = "col-md-4">
    <h1><%= link_to "+", new_item_path, {:style=>'display:inline-block;''width:100px;''height:100px;''text-align: center;''padding-top: 25px;
  ''text-decoration: none;', :class => "butt"} %></h1>
  </div>


<% @closet.items.each do |item| %>
 <div class = "col-md-4" style = "height:200px; width:200px;">
  Item: <%= link_to item.name, item_path(item) %><br>
  Url: <%= item.url %><br>
  Price: $<%= item.price %><br>
  ASIN: <%= item.source_id %>
 </div>
<% end %>

</div>
