<h2>Add Item to Closets</h2>
<hr>

<h4><%= @item.name %></h4>
<h5>Price: <%= @item.prices.last.price %></h5>

<%= form_for :closet_item, url: {action: 'create'} do |f|%>
<%= hidden_field_tag :item_id, @item.id %>
  <div class="field">
    <%= label_tag :closets %><br>
    <% current_user.closets.each do |closet| %>
      <%= check_box_tag 'closet_ids[]', closet.id -%>
      <%= closet.name -%><br>
    <% end %>
  </div><br>
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>

<% end %>
