<div class = "col-sm-3">
<a href = "#">My Closets</a> | <a href = "#">My Feed</a> <!-- (make into links with ajax) -->
<h3>Your Closets:</h3>
<% @closets.each do |closet| %>
  <div class="field">
  <%= link_to closet.name, user_closet_path(current_user, closet) %>
  </div>
<% end %>

<br><br><br>
<%= link_to "CREATE NEW CLOSET", new_user_closet_path(current_user) %>

<br><br>
<%= link_to "Search items from Amazon", searches_path %>

<p>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
</p>


</div>
<div class = "col-sm-9">
<center>
  <p>
  ---Feed---
</p>
  <%@user.feed.each do |followed|%>
    <p><%=followed.name%></p>
  <%end%>

</center>
</div>

<%= render partial: 'searches/form.html.erb' %>

