 
<div class = "col-sm-3">
<p class = "text-muted">Welcome <%=current_user.username%>!</p>
<a href = "#">My Closets</a> | <a href = "#">My Feed</a> <!-- (make into links with ajax) --> | <%= link_to "Friends", followers_user_path(current_user.username) %>

<h3>Your Closets:</h3>
<% @closets.each do |closet| %>
  <div class="field">
  <%= link_to closet.name, user_closet_path(current_user, closet) %>
  </div>
<% end %>

<br><br><br>
<%= link_to "CREATE NEW CLOSET", new_user_closet_path(current_user) %>


<p>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
</p>

<br><br>

<%= link_to "Hidefy search", :controller => :searches, :action => :hidefy %>
<br><br>



</div>

<div class = "col-sm-9">
 <ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">My Feed</a></li>
  <li><a href="#profile" data-toggle="tab">Closet Feed</a></li>
  
</ul>
<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active in" id="home">
    
    <%@user.activity_feed.each do |activity|%>

    <br>
   <%= link_to activity.user.username, activity.user %>
    <% if activity.trackable.class == Closet && activity.action == "create" %>
    <em class = "text-muted">created closet </em> <%=activity.trackable.name%>

    <% elsif activity.trackable.class == Closet && activity.action == "destroy"%>
    <em class = "text-muted">deleted closet </em> <%=activity.trackable.name%> 

    <% elsif activity.trackable.class == ClosetItem && activity.action == "create"%>
    <em class = "text-muted">added</em> item

    <% elsif activity.trackable_type == "ClosetItem" && activity.action == "destroy"%>
    <em class = "text-muted">deleted</em> item 

    <% elsif activity.trackable.class == User && activity.action == "create"%>
    <em class = "text-muted">followed</em> <%= activity.trackable.username %>

    <% elsif activity.trackable.class == User && activity.action == "destroy"%>
    <em class = "text-muted">unfollowed</em> <%= activity.trackable.username %> 
    <%end%>
    <%end%>
  </div>

  <div class="tab-pane fade" id="profile">
    <%@user.feed.each do |followed|%>
      <div class = "col-sm-4">
        <p>
        <br>
          <h4><%=followed.name%></h4>
          <h6>By:<a href = "/users/<%=User.find(followed.board_id).slug%>"> <%= User.find(followed.board_id).username %></h6></a>
        </p>
      <br><br>
      </div>
    <%end%>
  </div>


</div>
