<div class="col-sm-3">
  <!-- <p class="text-muted">Welcome, <%=current_user.username.capitalize%>!</p> -->

  <h3>My Closets</h3><hr>
  <table class="table table-striped table-hover">
    <!-- <thead>
      <th>Closet Name</th>
    </thead> -->
    <tbody>

  <% @closets.each do |closet| %>
    <div class="field">
      <tr>
        <td><%= link_to closet.name, user_closet_path(current_user, closet) %></td>
      </tr>
    </div>
  <% end %>
    </tbody>
  </table>
  <br>
  <hr>


  <%= link_to "New Closet", new_user_closet_path(current_user), class: "btn btn-success" %>
  <br><br>
  <p>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
</p><br>
  <a href = "/users/<%= current_user.slug %>">My Profile</a> | <%= link_to "Recent Activity", following_user_path(current_user.slug) %> | <%= link_to "Trending", followers_user_path(current_user.username) %>
</div>

<div class = "col-sm-9">
 <ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">My Feed</a></li>
  <li><a href="#profile" data-toggle="tab">Closet Feed</a></li>

</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active in" id="home">

    <%@user.activity_feed.each do |activity|%>

    <br><br>
    <strong>
    <% if current_user.username == activity.user.username %>
    You
    <%else%>
   <%= link_to activity.user.username, activity.user %>
   <% end %>
  </strong>
   <br>
      <% if activity.trackable_type == "Closet" && activity.action == "create" %>
      <em class = "text-muted">created closet </em> <%=activity.trackable_name%>

      <% elsif activity.trackable_type == "Closet" && activity.action == "destroy"%>
      <em class = "text-muted">deleted closet </em> <%=activity.trackable_name%>


      <% elsif activity.trackable.class == Item && activity.action == "create"%>
      <em class = "text-muted">Added</em> <%=activity.trackable_name%> <em class = "text-muted">to</em> <%= activity.trackable_source %>

    <% elsif activity.trackable.class == Item && activity.action == "destroy"%>

    <em class = "text-muted">Deleted</em> <%=activity.trackable_name%> <em class = "text-muted">from</em> <%=activity.trackable_source%>

      <% elsif activity.trackable.class == User && activity.action == "create"%>
      <em class = "text-muted">followed</em> <%= activity.trackable.username %>


    <% elsif activity.trackable.class == User && activity.action == "destroy"%>
      <em class = "text-muted">unfollowed</em> <%= activity.trackable.username %>
    <%end%>

    <%end%>
  </div>

  <div class="tab-pane fade" id="profile">
    <%@user.feed.each do |followed|%>
      <div class = "col-sm-4">
        <p>
        <br>
          <%= image_tag ('closet') %>
          <h4><%=followed.name%></h4
          <h6>By:<a href = "/users/<%=User.find(followed.board_id).slug%>"> <%= User.find(followed.board_id).username %></h6></a>
        </p>
      <br><br>
      </div>
    <%end%>
  </div>
</div>
