<h2>Search Results From <%= @source_type %> For: <%= @keyword %></h2>

<% @results.each do |result| %>
  <%= form_tag create_item_path, method: 'get' do %>
  <ul>
    <li> Source Id:
    <%= result["source_id"]%>
    <%= hidden_field_tag 'item[source_id]', result["source_id"] %>
    </li>
    <li> Product Name:
    <%= result["name"]%>
    <%= hidden_field_tag 'item[name]', result["name"] %>
    </li>
    <li> Image:
    <%= image_tag result['image_url'] %><br>
    <%= hidden_field_tag 'item[image_url]', result["image_url"] %>
    </li>
    <li> Price:
    <%= result["price"]%>
    <%= hidden_field_tag 'item[price]', result["price"] %>
    </li>
  </ul>
  <%= hidden_field_tag 'item[source_type]', @source_type %>
  <%= submit_tag('Add Item to Closet')%><br><br>
<% end %>
<% end %>
