<div class="col-xs-12">
<h2><%= @results.length %> Search Results For: <%= @keyword %> From <%= @source_type %> </h2>

<% @results.each do |result| %>
  <%= form_tag '/items' do %>
  <ul>
    <%= link_to result['name'], result['url'], target: "_blank" %>
    <%= hidden_field_tag 'item[name]', result["name"] %><br>
    <%= hidden_field_tag 'item[url]', result["url"] %><br>
    <%= image_tag result['image_url'] %><br>
    <%= hidden_field_tag 'item[image_url]', result["image_url"] %><br>
    <strong>Source Id:</strong>
    <%= result["source_id"]%>
    <%= hidden_field_tag 'item[source_id]', result["source_id"] %><br>
    <strong>Price:</strong>
    <%= result["price"]%>
    <%= hidden_field_tag 'item[price]', result["price"] %>
  </ul>
  <%= hidden_field_tag 'item[source_type]', @source_type %>
  <%= submit_tag 'Add Item to Closet', class: 'btn btn-default' %><br><br>
<% end %>
<% end %>
</div>
