<%= form_for :item, url: {action: 'create'} do |f|%>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :url %><br>
    <%= f.text_field :url %><br>

  </div>
  <%= label_tag :closets %><br>
  <% current_user.closets.each do |closet| %>
    <%= check_box_tag 'closet_ids[]', closet.id -%>
    <%= closet.name -%>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
