<%= form_for :item, url: {action: 'create'} do |f|%>
  <div class="field">
    <%= label_tag :closets %><br>
    <% current_user.closets.each do |closet| %>
      <%= check_box_tag 'closet_ids[]', closet.id -%>
      <%= closet.name -%><br>
    <% end %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
