<h1><%= @item.name %></h1><br>

<%= image_tag @item.image_url %>

<p>
  <strong>URL:</strong><%= @item.url %><br>
  <strong>Price:</strong> $<%= @item.price %><br>
  <strong>Source Id:</strong> <%= @item.source_id %>
</p>


<br><br>
<h3>Closets:</h3>
<% @item.closets.each do |closet| %>
  <br><li><%= link_to closet.name, user_closet_path(current_user, closet) %></li>
<% end %>
