<div class="col-sm-3">
  <h2><%= @item.name %></h2><br>

<%= image_tag @item.image_url %><br>
<strong>Price: </strong><%= @item.prices.last.price %><br>
<strong>Source ID:</strong> <%= @item.source_id %><br>
<%= link_to 'Buy on Amazon', @item.url, target: "_blank" %>

  <br><br>
  <h3>Closets:</h3>
  <% @item.closets.each do |closet| %>
    <%= link_to closet.name, user_closet_path(current_user, closet) %><br>
  <% end %>
</div>

<div class="col-sm-9">
  <h2>SVG – Price over Time</h2>
  <!-- graph will go here -->
</div>
