<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login, class: "form-control", id: "inputDefault", style: "width: 250px;" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-default" %><br>
  </div>
<% end %>
